
      <%= form.input :identifing_name, input_html: {class: "span9"} %>


      <%= form.input :display_name,  input_html: {class: "span9"} %>


<div class=" generic_submit_button form-actions">
  <%= submit_tag "Create", :class => "btn", :id => "create_product_type_button" %>
</div>
