<div class="row-fluid">
  <div class="offset2 span8">
    <div class="social-box">
      <div class="header">
        <h4>Editing Shop Logo</h4>
      </div>
      <div class="body">
        <%= simple_form_for([:admin, @shop], html: {class: 'form-horizontal', method: 'put' }) do |f| %>
            <%= image_tag @shop.logo(:small), class: "left-image" if @shop.logo.present? %>
            <fieldset style="margin-top:20px">
              <%= f.input :logo, as: :file, hint: "Your shops Logo (size displayed is 242x60)", input_html: {class: "input-xlarge"} %>
              <div class="form-actions">
                <%= f.submit "Update or Upload logo", class: "btn"  %>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>