<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "Product Types", admin_product_types_path %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>




<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>New Product Type</h4>
      </div>
      <div class="body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

