<%= content_for(:page_title) do %>
    People Signed up to your shop(customers)
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>My Customers</h4>
      </div>
      <div class="body">
        <% if @customers.empty? %>
            <p>
              <%= t("no_customers_signed_up_yet") %>
            </p>
        <% else %>
            <%= render "list"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
