<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Tax Rates</h4>
        <div class="btn-group hidden-phone pull-right">
          <%= link_to "Create a tax rate", new_admin_config_tax_rate_url, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="body">
        <% if @tax_rates.empty? %>
            <p class="alert alert-info">
              No Tax Rates Available Yet
            </p>
        <% else %>
            <%= render "list" %>
        <% end %>
      </div>
    </div>
  </div>
</div>