<div class="row">
  <div class="twelve columns">
    <div class="content-title">
      <h4>About<span> MyShopnanny</span></h4>
      <p>Use MyShopnanny to create your own independent shop online, process orders and receive payments across the globe.</p>
      <p>Receive sms notifications on every order made on your store.</p>
    </div>
    <div class="space40"></div>

    <div class="four columns">
      <img src="assets/demo/slides/3.png" alt=""/>
    </div>

    <div class="eight columns">
      <div class="six columns rs-content">
        <div class="rs-icon">"</div>
        <div class="rs-description">
          <h6>Mobile Store</h6>
          <p>Optimised mobile design which gives your store an awesome user experience on all mobile phones</p>
        </div>
      </div>

      <div class="six columns rs-content">
        <div class="rs-icon">B</div>
        <div class="rs-description">
          <h6>Sms notification</h6>
          <p>Provide you and you customers with sms notifications for every order placed on your store</p>
        </div>
      </div>

      <div class="six columns rs-content">
        <div class="rs-icon">@</div>
        <div class="rs-description">
          <h6>Accept global currencies</h6>
          <p>With the help of <a href="http://interswitchng.com/"> Interswitch</a> and <a href="http://etranzact.com/etranzact/">eTranzact</a>,
          Yore store can accept global currencies.
          </p>
        </div>
      </div>

      <div class="six columns rs-content">
        <div class="rs-icon">I</div>
        <div class="rs-description">
          <h6>Fully hosted online shopping cart</h6>
          <p>MyShopnanny provides a secure shopping cart that lets you instantly accept credit cards and atm card payments.</p>
        </div>
      </div>
    </div>
  </div>
</div>