<div class="row">
  <div class="twelve columns wrap2">
    <div class="twelve columns ">
      <div class="twelve columns no-padding">
        <h4 class="wrap2-title">FAQ</h4>
        <div class="line2"></div>
        <div class="space30"></div>

        <ul class="accordion">
          <li>
            <div class="title">
              <h5>How do my customers make payment my store?</h5>
            </div>
            <div class="content">
              <p>MyShopnanny stores are modeled specifically to handle west africa payments process taking Nigeria as our case study.
                We provide your store with a payment gateway which has support for master card, visa card, verve cards which allows
                customers to pay directly to your store's account with MyShopnanny.
              </p>
            </div>
          </li>

          <li>
            <div class="title">
              <h5>How do i receive my money paid by my customers</h5>
            </div>
            <div class="content">
              <p>For every withdrawal you make from your admin panel it take less than 48 hours for us to transfer the money to your bank
              account which also involves a maximum of 4% transaction fee depending on your plan</p>
            </div>
          </li>

          <li>
            <div class="title">
              <h5>How do i process my orders</h5>
            </div>
            <div class="content">
              <p>This is where MyShopnanny order design model rocks. Order process has been simplified for our local west African daily
                transaction process with our 80% automated system. When your customer makes and order up to the shipping process, an sms
                notification is sent to your store informing you about the order so you can instantly log in to you store's admin panel and communicate the shipping fee
                back to the customer after analysing the order shipping details and adding the shipping fee to the order or even rejecting the shipping details of the order.
                There is also a customer communication process between you and the customer, here you tend to form discussions on the order.
              </p>
            </div>
          </li>

          <li>
            <div class="title">
              <h5>Can I use my own domain name?</h5>
            </div>
            <div class="content">
              <p>Yes. Your online store can use an existing domain name that you own, or you can call us to purchase a domain name for you. We also provide a free MyShopnanny.com domain name to all stores on sign up.
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <h5>Do I need a web host?</h5>
            </div>
            <div class="content">
              <p>
                No all MyShopnanny's plans include secure, unlimited ecommerce hosting for your online store. Myshopnanny uses the best servers, networks and precompiled assets to ensure your ecommerce site is reliable and fast.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>