<section id="featured">
  <h1 class="headingfull"><span>Featured Products</span></h1>
  <ul class="thumbnails">
    <%= render featured_product %>
    <li class="span3">
      <a class="prdocutname" href="#">First Fashion Fabrics</a>
      <div class="thumbnail">
        <span class="sale tooltip-test" >Sale</span>
        <a href="product.html"><img alt="" src="/assets/product-l1.jpg"></a>
        <div class="caption">
          <div class="price pull-left">
            <span class="oldprice">$2225.00</span>
            <span class="newprice">$2225.00</span>
          </div>
          <a class="cartadd pull-right tooltip-test" title="Add to Cart"> Add to Cart </a>
                  <span class="links pull-left"><a class="info" href="product.html">info</a>
                  <a class="wishlist" href="wishlist.html">wishlist</a>
                  <a class="compare" href="compare.html">compare</a>
                  </span>
        </div>
      </div>
    </li>
    <li class="span3">
      <a class="prdocutname" href="#">First Fashion Fabrics</a>
      <div class="thumbnail">
        <a href="product.html">
          <img alt="" src="/assets/product-l2.jpg"></a>
        <div class="caption">
          <div class="price pull-left">
            <span class="oldprice">$2225.00</span>
            <span class="newprice">$2225.00</span>
          </div>
          <a class="cartadd pull-right tooltip-test" title="Add to Cart"> Add to Cart </a>
                  <span class="links pull-left"><a class="info" href="product.html">info</a>
                  <a class="wishlist" href="wishlist.html">wishlist</a>
                  <a class="compare" href="compare.html">compare</a>
                  </span>
        </div>
      </div>
    </li>
    <li class="span3">
      <a class="prdocutname" href="#">First Fashion Fabrics </a>
      <div class="thumbnail">
        <span class="offer tooltip-test" >Offer</span>
        <a href="product.html">
          <img alt="" src="/assets/product-l1.jpg"></a>
        <div class="caption">
          <div class="price pull-left">
            <span class="oldprice">$2225.00</span>
            <span class="newprice">$2225.00</span>
          </div>
          <a class="cartadd pull-right tooltip-test" title="Add to Cart"> Add to Cart </a>
                  <span class="links pull-left"><a class="info" href="product.html">info</a>
                  <a class="wishlist" href="wishlist.html">wishlist</a>
                  <a class="compare" href="compare.html">compare</a>
                  </span>
        </div>
      </div>
    </li>
  </ul>
</section>