<div class="slider-bg">
  <div class="row" style="width: 1240px;">
    <div class="twelve columns slider-wrap">

      <div id="main-slider" class="flexslider">

        <div class="slider_shadow"></div>


        <ul class="slides">
          <li>
            <div class="three columns top-content" style="margin-top: 27px;">
              <h5 style="font-size: 25px"> Use MyShopnanny to create your online store.</h5>
              <p>Everything you need to start selling online – today. Designed exclusively to suit West Africa market system.
              Start your free 14-Day trial now, without a credit card.
              </p>
              <div class="space40"></div>
              <%= link_to "Create your store now", new_shop_registration_path, class: "button-white" %>
            </div>

            <div class="nine columns" style="margin-top: 27px;">
              <img src="assets/demo/slides/9.png" alt=""/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>