<div class="four columns">

  <ul class="aside">
    <h3>Check other pages</h3>
    <div class="line2"></div>
    <div class="space25"></div>

    <li><a href="/about_shopnany">About us</a></li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/contact">Support</a></li>
    <li><%= link_to "Theme Store", themes_path %></li>
  </ul>

  <div class="space30"></div>

  <!-- Wrap2 section -->
  <div class="twelve columns no-padding">
    <div class="wrap2-aside">
      <h3>Are you satisfied? Go ahead</h3>
      <p>We offer you the best in ecommerce solution</p>
      <div class="space30"></div>
      <%= link_to "Sign up now! Free 14-Days trial", new_shop_registration_path, class: "button-medium" %>
    </div>
  </div>
  <!-- Wrap2 section -->
</div>