<div class="row">
  <div class="twelve columns">
    <div class="content-title">
      <h4>Themplate Store</span></h4>
      <p>Select for a verity of free and paid templates and get your shop up and running with speec.
      View our <b><%= link_to "Theme Store", themes_path %></b> for more info
      </p>
    </div>
    <div class="space40"></div>

    <div class="slidewrap">
      <ul class="slidecontrol">
        <li><a href="#sliderName" class="next">Next</a></li>
        <li><a href="#sliderName" class="prev">Prev</a></li>
      </ul>

      <ul class="slider" id="sliderName">
        <% Theme.public.first(9).in_groups_of(3, false).each do |row_theme| %>
          <li class="slide">
            <% for theme in row_theme %>
                <div class="four columns item">
                  <%= image_tag theme.featured_image_big %>
                  <div class="slide-content">
                    <h2><%= theme.name.titleize %></h2>
                    <span class="zoom"><a href="<%= image_path(theme.featured_image_original) %>" class="prettyPhoto"></a></span>
                  </div>
                </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>