<div class="row">
  <div class="twelve columns">
    <div class="content-title">
      <h4>Plans & pricing</h4>
      <p>Check out our awesome plans below</p>
    </div>
    <div class="space50"></div>

    <!-- Pricing Table section -->
    <div class="four columns">
      <div id="pricing_plan1">
        <dl class='plans' >
          <dd class="plan_title">Basic</dd>
          <dd class="plan_price">₦12,500<br><span>1 year</span></dd>
        </dl>

        <dl class='plan' id="one">
          <dt class='plan_more'>View<a href="#one" class="more_icon"></a><a href="#" class="less_icon"></a></dt>

          <dd class="plan_features">
            <div class="feature_desc">Unlimited Storage</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Unlimited Bandwidth</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">No Custom layout</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">No Setup Fee</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Unlimited Products</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Use your own domain</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">No discount code engine</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">3% Transaction fee</div>
          </dd>
          <dd class="plan_buy">
            <%= link_to "Free 14-days trial", new_shop_registration_path, class: "buy" %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="four columns">
      <div id="pricing_plan2">
        <dl class='plans'>
          <dt class="plan_title">Standard</dt>
          <dd class="plan_price">₦50,000<br><span>1 Year</span></dd>
        </dl>

        <dl class='plan' id="two">
          <dt class='plan_more'>View<a href="#two" class="more_icon"></a><a href="#" class="less_icon"></a></dt>

          <dd class="plan_features">
            <div class="feature_desc">20GB Storage</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Unlimited Bandwidth</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Your custom layout</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">No Setup Fee</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Unlimited Products</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Use your own domain</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Discount code engine</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">1% Transaction Fee</div>
          </dd>
          <dd class="plan_buy">
            <a href='#' class='buy' >Contact Us</a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="four columns">
      <div id="pricing_plan3">
        <dl class='plans'>
          <dt class="plan_title">Pro</dt>
          <dd class="plan_price">₦80,000<br><span>1 year</span></dd>
        </dl>

        <dl class='plan' id="three">
          <dt class='plan_more'>View<a href="#three" class="more_icon"></a><a href="#" class="less_icon"></a></dt>

          <dd class="plan_features">
            <div class="feature_desc">80GB Storage</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Unlimited Bandwidth</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Your custom layout</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">No Setup Fee</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Unlimited Products</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Use your own domain</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">Discount code engine</div>
          </dd>
          <dd class="plan_features">
            <div class="feature_desc">0% Transaction Fee</div>
          </dd>
          <dd class="plan_buy">
            <a href='#' class='buy' >Contact Us</a>
          </dd>
        </dl>
      </div>
    </div>
    <!-- Pricing Table section -->
  </div>
</div>