<footer>

  <!-- CONTAINER -->
  <div class="container animated fadeInUp" data-animated="fadeInUp">

    <!-- ROW -->
    <div class="row">

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
        <h4>Contacts</h4>
        <div class="foot_address"><span>CurvyFashionista Boutique</span>2 Segun Kujore Str, off C.M.D Road Shangisha, MAGODO, Lagos</div>
        <div class="foot_phone"><a href="tel:1 800 888 2828">08099239092</a></div>
        <div class="foot_mail"><a href="mailto:info@curvyfashionista.com.ng">info@curvyfashionista.com.ng</a></div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
        <h4>Information</h4>
        <ul class="foot_menu">
          <li><a href="about.html">About us</a></li>
          <li><a href="javascript:void(0);">Delivery Information</a></li>
          <li><a href="javascript:void(0);">How it works?</a></li>
          <li><a href="javascript:void(0);">Privacy policy</a></li>
          <li><a href="javascript:void(0);">Careers</a></li>
          <li><a href="product-catalog.html">Site Map</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
        <h4>Customer Care</h4>
        <ul class="foot_menu">
          <li><a href="contacts.html">contact us</a></li>
          <li><a href="javascript:void(0);">Terms and Condition</a></li>
          <li><a href="javascript:void(0);">Return policy</a></li>
          <li><a href="faq.html">Faqs</a></li>

        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
        <h4>Payment Methods</h4>
        <ul class="foot_menu">
          <li><a href="about.html">Pay on delivery</a></li>
          <li><a href="javascript:void(0);">Delivery</a></li>
          <li><a href="javascript:void(0);">Privacy police</a></li>
          <li><a href="faq.html">Faqs</a></li>
          <li><a href="contacts.html">contact us</a></li>
        </ul>
      </div>

      <div class="respond_clear_768"></div>

      <div class="col-lg-4 col-md-4 padbot30">
        <h4>Newsletter</h4>
        <form class="newsletter_form clearfix" action="javascript:void(0);" method="get">
          <input type="text" name="newsletter" value="Enter E-mail &amp; Get 10% off" onfocus="if (this.value == 'Enter E-mail &amp; Get 10% off') this.value = '';" onblur="if (this.value == '') this.value = 'Enter E-mail &amp; Get 10% off';">
          <input class="btn newsletter_btn" type="submit" value="SIGN UP">
        </form>

        <h4>we are in social networks</h4>
        <div class="social">
          <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
          <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
          <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div><!-- //ROW -->
  </div><!-- //CONTAINER -->

  <!-- COPYRIGHT -->
  <div class="copyright">

    <!-- CONTAINER -->
    <div class="container clearfix">
      <div class="copyright_inf">
        <span>CurvyFashionista Boutique © 2014</span>
        <a class="back_top" href="javascript:void(0);">Back to Top <i class="fa fa-angle-up"></i></a>
      </div>
    </div><!-- //CONTAINER -->
  </div><!-- //COPYRIGHT -->
</footer>