<section id="related">
  <div class="container">
    <h1 class="headingfull"><span>Related Products</span></h1>
    <section id="thumbnails">
      <ul class="thumbnails">
       <%#= render @similar_products %>
      </ul>
    </section>
  </div>
</section>