<section class="shop">
  <div class="container" style="padding-top: 134px;">
    <div class="row">
      <%= render "products_sidebar" %>
      <div class="col-lg-9 col-sm-9 padbot20">
        <div class="sorting_options clearfix">

          <!-- COUNT TOVAR ITEMS -->
          <div class="count_tovar_items">
            <p><%= @product_type.name %></p>
            <span><%= pluralize @products.size, "item" %></span>
          </div><!-- //COUNT TOVAR ITEMS -->

          <!-- PRODUC SIZE -->
          <div id="toggle-sizes">
            <a class="view_box active" href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
            <a class="view_full" href="javascript:void(0);"><i class="fa fa-th-list"></i></a>
          </div><!-- //PRODUC SIZE -->
        </div>
        <div class="row shop_block">
            <%= render @products %>
        </div>

      </div>
    </div>

  </div>

</section>

<style>
  .menu_block{
      border-bottom: 1px solid #eee;
  }
</style>