<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>




<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Editing Shipping Zone</h4>
      </div>
      <div class="body">
        <%= simple_form_for(@shipping_zone, url: admin_config_shipping_zone_url(@shipping_zone), html: {class: 'form-horizontal' }) do |f| %>
          <%= render "form", f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>

